#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.output {
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.canvas {
  border: 1px solid rgba(255 255 255 / 0.2);
}
